install
text
cdrom
lang en_US.UTF-8
keyboard --vckeymap=us
network --onboot yes --device ens33 --bootproto static --ip 192.168.10.10 --netmask 255.255.255.0 --gateway 192.168.10.2 --noipv6 --nameserver 192.168.10.2 --hostname c70min.localdomain
rootpw --iscrypted <CHANGEME>
firewall --service=ssh
services --enabled=network,rsyslog,sshd,udev-post --disabled=blk-availability,iptables,kdump,lvm2-monitor,mdmonitor,netconsole,netfs,rdisc,restorecond
auth --enableshadow --passalgo=sha512
selinux --disabled
timezone Europe/Athens
ignoredisk --only-use=sda
bootloader --location=mbr --boot-drive=sda
zerombr
clearpart --all --initlabel --drives=sda
part /boot --fstype=ext4 --size=500
part pv.0 --grow --size=1
volgroup vg0 --pesize=4096 pv.0
logvol swap                     --name=lv0 --vgname=vg0 --size=256
logvol /          --fstype=ext4 --name=lv1 --vgname=vg0 --size=512
logvol /home      --fstype=ext4 --name=lv2 --vgname=vg0 --size=128
logvol /tmp       --fstype=ext4 --name=lv3 --vgname=vg0 --size=128
logvol /usr       --fstype=ext4 --name=lv4 --vgname=vg0 --size=2048
logvol /var       --fstype=ext4 --name=lv5 --vgname=vg0 --size=512
logvol /usr/local --fstype=ext4 --name=lv6 --vgname=vg0 --size=128
logvol /opt       --fstype=ext4 --name=lv7 --vgname=vg0 --size=128

%packages --nobase
@core
-acl
-aic94xx-firmware
-alsa-firmware
-alsa-lib
-alsa-tools-firmware
-audit
-authconfig
-avahi-autoipd
-avahi-libs
-bind-libs-lite
-bind-license
-biosdevname
-btrfs-progs
-chrony
-cronie
-cronie-anacron
-crontabs
-cyrus-sasl
-dhclient
-dhcp-common
-dmidecode
-dnsmasq
-dracut
-dracut-config-rescue
-dracut-network
-ebtables
-firewalld
-fxload
-glib-networking
-gnutls
-gobject-introspection
-gsettings-desktop-schemas
-hwdata
-iprutils
-ivtv-firmware
-iwl1000-firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-jansson
-kernel-tools
-kpartx
-libdrm
-libpciaccess
-libselinux-python
-libselinux-utils
-libsoup
-linux-firmware
-mariadb-libs
-microcode_ctl
-mozjs17
-nettle
-NetworkManager
-NetworkManager-libnm
-NetworkManager-team
-NetworkManager-tui
-newt
-newt-python
-parted
-pciutils-libs
-plymouth
-plymouth-core-libs
-plymouth-scripts
-policycoreutils
-polkit
-polkit-pkla-compat
-postfix
-ppp
-pygobject3-base
-python-backports
-python-backports-ssl_match_hostname
-python-configobj
-python-decorator
-python-pyudev
-python-setuptools
-python-slip
-python-slip-dbus
-rdma
-selinux-policy
-selinux-policy-targeted
-slang
-snappy
-teamd
-trousers
-tuned
-virt-what
-wpa_supplicant
-xfsprogs
bc
man
net-tools
patch
screen
vim-enhanced
%end

%post --log=/root/post.log

umask 077
mkdir /root/patches

cat > /root/patches/bashrc.patch << "EOF"
--- /etc/bashrc.orig 2014-10-29 11:47:00.000000000 +0200
+++ /etc/bashrc      2016-01-16 16:31:37.995108525 +0200
@@ -38,7 +38,7 @@
   history -a
   # Turn on checkwinsize
   shopt -s checkwinsize
-  [ "$PS1" = "\\s-\\v\\\$ " ] && PS1="[\u@\h \W]\\$ "
+  [ "$PS1" = "\\s-\\v\\\$ " ] && PS1="[\u@\H \w]\\$ "
   # You might want to have e.g. tty in prompt (e.g. more virtual machines)
   # and console windows
   # If you want to do so, just add e.g.
EOF

cat > /root/patches/grub.cfg.patch << "EOF"
--- /boot/grub2/grub.cfg.orig   2016-01-16 15:42:59.501151147 +0200
+++ /boot/grub2/grub.cfg        2016-01-16 16:34:08.013110491 +0200
@@ -85,7 +85,7 @@
	else
	  search --no-floppy --fs-uuid --set=root c191d8e7-226e-430c-b4ff-11769cc4746a
	fi
-	linux16 /vmlinuz-3.10.0-229.el7.x86_64 root=/dev/mapper/centos-root ro rd.lvm.lv=centos/root rd.lvm.lv=centos/swap crashkernel=auto rhgb quiet LANG=en_US.UTF-8
+	linux16 /vmlinuz-3.10.0-229.el7.x86_64 root=/dev/mapper/centos-root ro rd.lvm.lv=centos/root rd.lvm.lv=centos/swap crashkernel=auto LANG=en_US.UTF-8
	initrd16 /initramfs-3.10.0-229.el7.x86_64.img
 }
 menuentry 'CentOS Linux 7 (Core), with Linux 0-rescue-a2e3223e6da24f729289b3211fd9ea0c' --class rhel fedora --class gnu-linux --class gnu --class os --unrestricted $menuentry_id_option 'gnulinux-0-rescue-a2e3223e6da24f729289b3211fd9ea0c-advanced-e7cd5ef7-6ccb-4fc3-8e04-495e75748314' {
@@ -99,7 +99,7 @@
	else
	  search --no-floppy --fs-uuid --set=root c191d8e7-226e-430c-b4ff-11769cc4746a
	fi
-	linux16 /vmlinuz-0-rescue-a2e3223e6da24f729289b3211fd9ea0c root=/dev/mapper/centos-root ro rd.lvm.lv=centos/root rd.lvm.lv=centos/swap crashkernel=auto rhgb quiet
+	linux16 /vmlinuz-0-rescue-a2e3223e6da24f729289b3211fd9ea0c root=/dev/mapper/centos-root ro rd.lvm.lv=centos/root rd.lvm.lv=centos/swap crashkernel=auto
	initrd16 /initramfs-0-rescue-a2e3223e6da24f729289b3211fd9ea0c.img
 }

EOF

cat > /root/patches/network.patch << EOF
--- /etc/sysconfig/network.orig 2014-01-31 18:05:04.122999876 +0200
+++ /etc/sysconfig/network      2014-02-01 15:16:30.409003774 +0200
@@ -1,3 +1,4 @@
 NETWORKING=yes
 HOSTNAME=c70min.localdomain
 GATEWAY=192.168.10.2
+NOZEROCONF=yes
EOF

cat > /root/patches/sshd_config.patch << EOF
--- /etc/ssh/sshd_config.orig 2015-03-06 06:44:01.000000000 +0200
+++ /etc/ssh/sshd_config      2016-01-16 16:38:28.759113909 +0200
@@ -15,7 +15,7 @@
 # semanage port -a -t ssh_port_t -p tcp #PORTNUMBER
 #
 #Port 22
-#AddressFamily any
+AddressFamily inet
 #ListenAddress 0.0.0.0
 #ListenAddress ::

EOF

cat > /root/patches/noipv6.conf.patch << "EOF"
--- /dev/null                 2016-01-16 15:43:49.673000107 +0200
+++ /etc/sysctl.d/noipv6.conf 2016-01-16 16:40:21.437115386 +0200
@@ -0,0 +1,4 @@
+net.ipv6.conf.all.disable_ipv6 = 1
+net.ipv6.conf.default.disable_ipv6 = 1
+net.ipv6.conf.lo.disable_ipv6 = 1
+net.ipv6.conf.eth0.disable_ipv6 = 1
EOF

cat > /root/patches/yum.conf.patch << "EOF"
--- /etc/yum.conf.orig 2014-10-16 18:15:03.000000000 +0300
+++ /etc/yum.conf      2015-01-27 15:45:22.302000922 +0200
@@ -1,7 +1,8 @@
 [main]
 cachedir=/var/cache/yum/$basearch/$releasever
 keepcache=0
-debuglevel=2
+debuglevel=10
+loglevel=10
 logfile=/var/log/yum.log
 exactarch=1
 obsoletes=1
EOF

for PATCH in /root/patches/*.patch ; do patch -p 0 --backup --verbose < $PATCH ; done

rm -fv /root/{.bash_logout,.cshrc,.tcshrc}

chmod -c 600 /root/.bash*

for i in `seq 1 7` ; do tune2fs -m 0 /dev/vg0/lv${i} ; done
%end
